$primary: #007991;
$secondary: #3b3b3b;
$success: #1c7c54;
$info: #45e9ff;
$warning: #ff9500;
$danger: #e71d36;
$light: #f2f2f2;
$dark: #1d1d1d;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
